* text=auto eol=lf

*.go text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
